<h1>Flashy - Your best languange learning buddy.</h1><br>
<h2><%= @deck.name %></h2><br>
<form action="/start" method="get">
  <input type="text" name="<%= @deck.name %>" >
  <input type="submit" value="Play the game!">
  </form>
<br><a href="/homepage"><button class="btn btn-custom navbar-btn" type="button">Home</button></a>