<h1>Flashy - Your best languange learning buddy.</h1><br>
<p>English-German</p><br>
<form action="/start" method="post">
  <input type="submit" value="Play the game!">
  </form>
<br><a href="/homepage"><button class="btn btn-custom navbar-btn" type="button">Home</button></a>