<p>You're now logged in.</p>
<h1>Flashy - Your best languange learning buddy.</h1><br>

Select a deck from the following to play:<br><br>
<% @deck.each do |x| %>
<a href="/deck/<%= x.id %>"><%= x.name %></a><br>
<% end %>

