  <form id= "question" action="/homepage" method="post">
    <p class="questions"> Translate: <%= @card.word %> </p>
    <input type="text", name="answer">
    <br>
    <br>
    <input id="question" type="submit", value="Answer!">
  </form>


<br><a href="/homepage"><button class="btn btn-custom navbar-btn" type="button">Home</button></a>
